menu "Wi-fi Connection"

    config WIFI_SSID
        string "Wi-fi ssid"
        default "ap1"
        help
            Wi-fi name.

    config WIFI_PASSWORD
        string "Wi-fi password"
        default "casablanca"
        help
            Wi-fi password.
endmenu

menu "MQTT Connection"

    config MQTT_IP_PORT
        string "MQTT IP and PORT"
        default "mqtts://192.168.0.121:8883"
        help
            IP and port to connect mqtt broker, exemple mqtt://192.168.0.121:5588

    config MQTT_USERNAME
        string "MQTT username"
        default "carolina"
        help
            Username to connect mqtt broker

    config MQTT_PASSWORD
        string "MQTT password"
        default "2022"
        help
            Password to connect mqtt broker
endmenu

menu "Timers"

    config TIMER_READ_US
        int "Timer in microseconds to read values"
        default 5000000
        help
            Timer in microseconds to read values
endmenu